<form hx-post="/api/form" hx-target="#api_output" hx-swap="innerHTML">
    <div class="justify-around flex">
        <button class="m-4" type="submit" >Score my trips</button>
        <button class="m-4" onclick="return copyToClip()">Copy to clipboard</button>
    </div>
    <div class="flex flex-col md:flex-row w-full">
        <textarea class="bg-red-200 w-50 resize-none h-xl m-4" name="data">[
  {
    "boo_return": true,
    "co2_kg": 244.45,
    "price_eur": 345.0,
    "workTime_sec": 0,
    "duration_out_sec": 23544.0,
    "desc": "routes description",
    "id": "123"
  },
  {
    "boo_return": false,
    "co2_kg": 244.45,
    "price_eur": 385.0,
    "workTime_sec": 0,
    "duration_out_sec": 23544.0,
    "desc": "routes description",
    "id": "124"
  }
]
</textarea>
        <textarea class="bg-blue-200 w-50 resize-none h-xl m-4" id="api_output" readonly>Submit to see the magic</textarea>
    </div>
</form>
<script>
    function copyToClip(){
        document.querySelector("#api_output").select()
        document.execCommand('copy')
        return false
    }
</script>
