<blockquote cite="">
<h3><strong>POST</strong> /api</h3>
Send an array of trips.
Trips must be composed of these fields:
    <ul>
        <li><strong>boo_return</strong>:<br>
            <ul>
                <li>type : true | false</li>
                <li>description : Idicates whether the route is has a return (true) or is a one-way (false)</li>
            </ul>
        </li>
        <li><strong>co2_kg</strong>:<br>
            <ul>
                <li>type : float</li>
                <li>description : Indicates whether the route has a return (true) or is a one-way (false)</li>
            </ul>
        </li>
        <li><strong>price_eur</strong>:<br>
            <ul>
                <li>type : float</li>
                <li>description : The price of the trip in euro</li>
            </ul>
        </li>
        <li><strong>workTime_sec</strong>:<br>
            <ul>
                <li>type : float</li>
                <li>description : The time duration of the trip permitting you to work</li>
            </ul>
        </li>
        <li><strong>duration_out_sec</strong>:<br>
            <ul>
                <li>type : float</li>
                <li>description : The time duration of the trip</li>
            </ul>
        </li>
        <li><strong>desc</strong>:<br>
            <ul>
                <li>type : string</li>
                <li>description : The description of the trip</li>
            </ul>
        </li>
        <li><strong>id</strong>:<br>
            <ul>
                <li>type : string</li>
                <li>description : The id of the trip</li>
            </ul>
        </li>
    </ul>
</blockquote>
